@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


:root {
  --bg1: white;
  --bg2: #c2c5a98f;
}

iframe {
  height: 20em;
  width: auto;
}

img {
  width: 7em;
  height: 7em;
}

body {
    background-color: var(--bg1);
    margin: 0;
    font-family: 'Poppins';
}

h2 {
  font-size: 3em;
  margin-bottom: 0;
  line-height: 1em;
}

h3 {
  font-size: 2em;
}

section.hero {
  background-color: var(--bg2);
}

.navbar {
  background-color: white;
  padding: 1em;
}

.stick {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border-bottom: 1px solid rgb(102, 102, 102);
}

.logo-text {
  text-decoration: none;
  font-family: permanent marker;
  font-weight: 500;
  color: #000000;
  font-size: 1.4em;
  width: 8em;
  text-align: center;
  padding-top: .5em;  
}

.logo-icon {
  width: 3em;
  height: 3em;

}
 #mobile-hamburger, #mobile-exit{
   width: 2em;
   height: 2em;
 }

 #hamlabel {
   font-size: 2em;
   line-height: 1em;
   cursor: pointer;
   margin-top: .3em;
      
 }

 .container-nav {
  display: flex;
  align-items:flex-start;
  justify-content:space-between;
 }

.mobile-menu {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
  background: rgb(71, 71, 71);
  line-height: 70px;
  font-size: larger;
  width: 100%;
  text-align: center;
  border-top: 1px solid rgb(102, 102, 102);
  display: none;
  position: absolute;
}

.mobile-menu a {
  text-decoration: none;
  margin: 0;
  color: rgb(255, 255, 255);
  font-size: 1em;
  display: block;
  border-bottom: 1px solid rgb(102, 102, 102);
}

nav {
  display: none;
}

#toggle {
  display: none;
}

#toggle:checked + .mobile-menu {
  display:block;
  
}

 #mobile-hamburger {
   cursor: pointer;
 }


 .phone-num-btn {
    text-decoration: none;
    color: white;
    background-color: rgb(16, 134, 16);
    border-radius: 3em;
    padding: .75em;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
 }

.hero-col1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-bottom: 2em;
}

#hero-title {
  padding: .5em;
  text-align: center;
}

.hero-col2{
  line-height: 0;
}

.hero-pic {
  width: 100%;
  height: auto;
  
} 

.hero {
  overflow: hidden;
  background: var(--bg2);
  margin: 0;
}

.adventures-title {
  font-family: permanent marker;
  font-weight: normal;
  text-align: center;
  font-size: 3em;
  padding-bottom: em;
  background-color: var(--bg1);
}

.pricing, .sections, .covid {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg2);
  padding: 2em 0;
  
}

.hours, .camping, .map {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg1);
  padding: 2em 0;
  
}

#hours-select {
  width: fit fit-content;
  font-size: 1em;
  cursor: pointer;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  margin: .5em .5em;

}

#hours-select-items {
  padding: 10px;
}

.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.hours-table, th, td {
  border: 2px solid rgb(0, 0, 0);
  border-collapse: collapse;
  padding: 3px;
}

.hours-table {
  width: 20em;
  height: 15em;
  text-align: center;
  table-layout: fixed;
}

.tc1 {
  text-align: l;
}

.upper, .lower {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0;
}



#mp {
  font-weight: bolder;
}

.lower-btn, .upper-btn {
  font-size: 1em;
  font-weight: bold;
  color: white;
  background-color: rgb(16, 134, 16);
  border: none;
  border-radius: 2em;
  padding: .75em;
  cursor: pointer;
  text-transform: uppercase;
}

.sections h3 {
  font-size: 2em;
  margin: 0;
}

.covid-title, .sections-title {
  text-align: center;
}

.putindiv {
  display: flex;
  flex-direction: row;
  line-height: 0;
  margin-top: 1em;
  
} 

#putintime {
  font-weight: bold;
  margin-left: 1em;
}

.location-map {
  width: 90%;
  margin-top: 20px;
}

.pricing, .hours, .sections, .camping {
  scroll-margin-top: 6.85em;
}

@media only screen and (min-width: 768px) {

  .stick {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: space-between;  
  }

  #hamlabel {
    display: none;
  }

  .mobile-menu a {
    color: black;
    border: 0;
    display: inline;
    text-transform: uppercase;
    padding: 0 .5em;
    border-right: 1px solid rgb(156, 156, 156);
  }

  .mobile-menu {
    all: unset;
    display: block;
    text-align: right;
    width: 480px;
    white-space: nowrap;
  }

  .logo-icon {
    margin-top: 10px;
  }

  .mobile-menu a:hover {
    color: rgb(136, 136, 136);
  }

  .phone-num-btn:hover {
    background: rgb(23, 82, 16);
  }

  #moreinfolink {
    border: 0;
  }
  
  .hero-col2 {
    overflow: hidden;
    height: 400px;
  }


  .logo-text {
    width: auto;
    padding-left: 2em;
  }

  .pricing, .hours, .sections, .camping {
    scroll-margin-top: 0;
  }
}

@media only screen and (min-width: 1000px) {

  .container-hero {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .hero-col1 {
    display: flex;
    align-content: flex-start;
    width: 50%;
  }

  .hero-col2 {
    width: 50%;
    overflow: hidden;

  }

  .hero-pic {
    width: 125%;
  };

  #hero-title {
    font-size: 2em;
  }

  #hero-title {
    text-align: left;
    margin-left: 1em;
    margin-top: 4em;

  }

  .logo-text {
    width: auto;
    padding-left: 3em
  }

  .container-adv {
    display: flex;
    flex-wrap: wrap;
  }

  .adventures-title {
    width: 100%;
  }

  .pricing, .hours, .camping, .covid {
    width: 50%;
    height: 500px;
    background: var(--bg1);
  }

  .pricing, .hours {
    background: var(--bg2);
    height: 500px;
  }

  .camping, .covid {
    background: var(--bg2);
  }

  .sections {
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: none;
  }

  .sections-title {
    background: rgb(255, 255, 255);
    width: 100%;
    padding: 1em 0;
    margin: 0;
    font-size: 2em;
  }


  .upper, .lower {
    width: 50%;
    background: var(--bg1);
  }

  .map {
    background: var(--bg1);
    width: 100%;
  }

  .location-map {
    height: 500px ;
  }

  .pricing, .hours, .sections, .camping {
    scroll-margin-top: 0;
  }
}